# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.png
*.xml
*.csv
*.graphml
*.odt
*.jpg
calculataions.ods

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# .zip files (Used for archive and fab)

*_fab/
archive/

Documents/Calculations\.ods

